<header class="Header">
  <div class="container-lg px-3">
    <div class="d-flex flex-items-center">

      <div class="Header-item Header-item--full">
        <a href="/" class="Header-link f4 text-bold">
          xf_blog
        </a>
      </div>

      <div class="Header-item">
        <input
          class="form-control input-sm"
          type="search"
          placeholder="搜索…"
          disabled
        >
      </div>

      <div class="Header-item Header-item--spacer"></div>

      <div class="Header-item">
        <a href="https://lm-xiao-fen.github.io/my-web/" class="Header-link">
          副站
        </a>
      </div>

      <div class="Header-item">
        <a href="/note/" class="Header-link">
          随笔
        </a>
      </div>

      <div class="Header-item">
        <a href="/tech/" class="Header-link">
          技术博客
        </a>
      </div>

    </div>
  </div>
</header>
