<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="icon" type="image/jpeg" href="/image/MEITU_20260128_220225596.jpg">
    {% include head-custom.html %}
  </head>
  <body>
    <div class="container-lg px-3 my-5 markdown-body">
      {% if site.title and site.title != page.title %}
      <h3 id="xf_blog副站友链技术博客随笔"><a href="/">xf_blog</a>　<a href="https://mikufans1.dpdns.org">副站</a>　<a href="/feed-link/">友链</a>　<a href="/tech/">技术博客</a>　<a href="/note/">随笔</a></h3>　 
      {% endif %}

      <hr>
      
      {{ content }}

      {% if site.github.private != true and site.github.license %}
    <div class="footer border-top border-gray-light mt-5 pt-3 text-gray" style="display:flex; justify-content:space-between; align-items:center;">
        <div><a href="https://mikufans.qzz.io">VICP-T6JGPJNE</a></div>
        <div>© 2025 - {{ "now" | date: "%Y" }} lm-xiao-fen</div>
        <div>本网站在 GitHub 开源，有问题？ {% github_edit_link "点击此处" %} 修改</div>
    </div>
      {% endif %}
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/4.1.0/anchor.min.js" integrity="sha256-lZaRhKri35AyJSypXXs4o6OPFTbTmUoltBbDCbdzegg=" crossorigin="anonymous"></script>
    <script>anchors.add();</script>
  </body>
      </html>