---
layout: default
---
<div>

{{ content }}

</div>

<hr>

<div>

<script src="https://giscus.app/client.js"
        data-repo="lm-xiao-fen/lm-xiao-fen.github.io"
        data-repo-id="R_kgDORKpEPA"
        data-category="General"
        data-category-id="DIC_kwDORKpEPM4C3Lg_"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>

</div>

<div>

<h3>联系我</h3>

<p><a href="https://space.bilibili.com/3494372658121066">bilibili</a></p>
<p><a href="mailto:G114514g@yeah.net">email</a></p>
<p><a href="https://youtube.com/@lm-xiao-fen)">YouTube</a></p>

</div>