---
layout: default
---
{{ content }}

<script src="https://giscus.app/client.js"
        data-repo="lm-xiao-fen/lm-xiao-fen.github.io"
        data-repo-id="R_kgDORKpEPA"
        data-category="General"
        data-category-id="DIC_kwDORKpEPM4C3Lg_"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark_high_contrast"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>
