---
layout: default
---
<div>

{{ content }}

</div>

<hr>

<div>

<script src="https://giscus.app/client.js"
        data-repo="lm-xiao-fen/lm-xiao-fen.github.io"
        data-repo-id="R_kgDORKpEPA"
        data-category="General"
        data-category-id="DIC_kwDORKpEPM4C3Lg_"
        data-mapping="pathname"
        data-strict="0"
        data-reactions-enabled="1"
        data-emit-metadata="1"
        data-input-position="top"
        data-theme="dark"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>

</div>

<div class="related-posts">
  <h3>相关文章</h3>
  <ul>
    {% assign current_tags = page.tags %}
    
    {% assign related_posts = site.posts | where: "tags", current_tags %}
    {% assign related_notes = site.note | where: "tags", current_tags %}

    {% assign all_related_posts = related_posts | concat: related_notes %}
    {% assign unique_related_posts = all_related_posts | uniq %}

    {% for related_post in unique_related_posts %}
      {% if related_post.url != page.url %}
        <li>
          <a href="{{ related_post.url }}">{{ related_post.title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<div>

<h3>联系我</h3>

<p><a href="https://space.bilibili.com/3494372658121066">bilibili</a>&ensp;<a href="mailto:G114514g@yeah.net">email</a>&ensp;<a href="https://youtube.com/@lm-xiao-fen">YouTube</a></p>

</div>
